html, body {
  height: 100%;
  width: 100%;
}
html{
  background-color: #111;
}
body{
  background-color: #222;
  border-radius: 1em;
  padding: 2.5%;
  color: #eee
}

select, button, input{
  color:#eeee;
  background-color: #333;
}

input{
  display:inline
}

details{
  margin:1em
}